In [0]:
import pandas as pd
from sklearn.cluster import KMeans

In [0]:
file_url = 'https://raw.githubusercontent.com/TrainingByPackt/The-Data-Science-Workshop/master/Chapter05/DataSet/taxstats2015.csv'

In [0]:
df = pd.read_csv(file_url, usecols=['Postcode', 'Average net tax', 'Average total deductions'])

In [4]:
df.head()

   Postcode  Average total deductions  Average net tax
0      2000                      2071            27555
1      2006                      3804            28142
2      2007                      1740            15649
3      2008                      3917            53976
4      2009                      3433            32430

In [5]:
df.tail()

      Postcode  Average total deductions  Average net tax
2468       870                      2377            14788
2469       872                      1218             9017
2470       880                      2309            16574
2471       885                      3039            28795
2472       886                      2191            18141

In [0]:
kmeans = KMeans(random_state=42)

In [0]:
X = df[['Average net tax', 'Average total deductions']]

In [8]:
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [9]:
y_preds = kmeans.predict(X)
y_preds

array([1, 1, 2, ..., 2, 1, 2], dtype=int32)

In [10]:
df['cluster'] = y_preds
df.head()

   Postcode  Average total deductions  Average net tax  cluster
0      2000                      2071            27555        1
1      2006                      3804            28142        1
2      2007                      1740            15649        2
3      2008                      3917            53976        3
4      2009                      3433            32430        7